In [48]:
# Imports 
import sqlite3

In [59]:
# Working with and creating new database below for MOVIES
movies_db = sqlite3.connect('Movies.db')

print(movies_db)

<sqlite3.Connection object at 0x0000020B8795DA80>

In [62]:
# ## Creating cursor object, using cursor object to create new tables and add table data
# cur = movies_db.cursor()

# cur.execute("DROP TABLE IF EXISTS movies")

# # Script to populate table
# cur.executescript("""
#     BEGIN;
#     CREATE TABLE movies (title TEXT, genre TEXT, release INTEGER, rt_score INTEGER);
#     INSERT INTO movies VALUES ('Insterstellar', 'Science Fiction', 2014, 73);
#     INSERT INTO movies VALUES ('Pride and Prejudice', 'Novel', 2005, 87);
#     INSERT INTO movies VALUES ('Inception', 'Science Fiction', 2010, 87);
#     INSERT INTO movies VALUES ('Barbie', 'Comedy', 2023, 88);
#     INSERT INTO movies VALUES ('Good Will Hunting', 'Drama', 1996, 97);
#     COMMIT;
# """)

import sqlite3

movies_db = sqlite3.connect('Movies.db')

cur = movies_db.cursor()

cur.execute("DROP TABLE IF EXISTS movies")

cur.executescript("""
    BEGIN;
    CREATE TABLE movies (title TEXT, genre TEXT, release INTEGER, rt_score INTEGER);
    INSERT INTO movies VALUES ('Interstellar', 'Science Fiction', 2014, 73);
    INSERT INTO movies VALUES ('Pride and Prejudice', 'Novel', 2005, 87);
    INSERT INTO movies VALUES ('Inception', 'Science Fiction', 2010, 87);
    INSERT INTO movies VALUES ('Barbie', 'Comedy', 2023, 88);
    INSERT INTO movies VALUES ('Good Will Hunting', 'Drama', 1996, 97);
    COMMIT;
""")

cur.execute("SELECT * FROM movies")
rows = cur.fetchall()
for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release: {row[2]}, RT Score: {row[3]}")

cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release: 2014, RT Score: 73
Title: Pride and Prejudice, Genre: Novel, Release: 2005, RT Score: 87
Title: Inception, Genre: Science Fiction, Release: 2010, RT Score: 87
Title: Barbie, Genre: Comedy, Release: 2023, RT Score: 88
Title: Good Will Hunting, Genre: Drama, Release: 1996, RT Score: 97

In [64]:
# # # Read table data
# cur.execute("SELECT * FROM movies").fetchall()

#  rows = cur.execute("SELECT * FROM movies").fetchall()

# for row in rows:
#     print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")
   

import sqlite3

# Re-open the SQLite connection if it was previously closed
movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

# Fetch all records from the movies table
rows = cur.execute("SELECT * FROM movies").fetchall()

# Iterate through each row and print the details
for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# Close the cursor and the connection
cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Inception, Genre: Science Fiction, Release Year: 2010, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1996, Rotten Tomatoes Score: 97

In [66]:
# # Update table data - There was a typo for the release year of Good Will Hunting, lets update this!
# update_release_year = 1997
# movie_to_update = 'Good Will Hunting'
# cur.execute("UPDATE movies SET release = ? WHERE title = ?", [update_release_year, movie_to_update])
# movies_db.commit()

# cur.execute("SELECT * FROM movies WHERE title = ?", [movie_to_update])
# updated_row = cur.fetchone()
# print(f"Updated Row: {updated_row}")


import sqlite3

# Connect to the SQLite database
movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

# Update the release year for "Good Will Hunting"
update_release_year = 1997
movie_to_update = 'Good Will Hunting'
cur.execute("UPDATE movies SET release = ? WHERE title = ?", (update_release_year, movie_to_update))
movies_db.commit()

# Fetch the updated record and print it
cur.execute("SELECT * FROM movies WHERE title = ?", (movie_to_update,))
updated_row = cur.fetchone()
print(f"Updated Row: {updated_row}")

# Close the cursor and the connection
cur.close()
movies_db.close()

Updated Row: ('Good Will Hunting', 'Drama', 1997, 97)

In [72]:
# # Verify Update
# cur.execute("SELECT * FROM movies").fetchall()


import sqlite3

# Open the SQLite connection to the 'Movies.db' database
movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

# Fetch all records from the movies table
rows = cur.execute("SELECT * FROM movies").fetchall()

# Iterate through each row and print the details
for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# Close the cursor and the connection after the operations
cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Inception, Genre: Science Fiction, Release Year: 2010, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1997, Rotten Tomatoes Score: 97

In [74]:
# # Delete table data
# movie_to_delete = 'Inception' # Too many sci fi movies!
# cur.execute("DELETE FROM movies WHERE title = ?", [movie_to_delete])

import sqlite3

# Assuming the SQLite connection 'movies_db' is already open
movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

# Specify the movie to delete
movie_to_delete = 'Inception'

# Delete the specified movie from the movies table
cur.execute("DELETE FROM movies WHERE title = ?", (movie_to_delete,))

# Commit the changes to the database
movies_db.commit()

# Verify deletion by fetching all remaining movies
cur.execute("SELECT * FROM movies")
rows = cur.fetchall()

# Print the remaining rows to verify deletion
for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# Close the cursor and the connection
cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1997, Rotten Tomatoes Score: 97

In [77]:
# # Confirm movie deleted!
# cur.execute("SELECT * FROM movies").fetchall()

import sqlite3

# Connect to the SQLite database
movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

# Fetch all records from the movies table to confirm the deletion
rows = cur.execute("SELECT * FROM movies").fetchall()

# Print all remaining rows to verify that the deletion was successful
for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# Close the cursor and the connection
cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1997, Rotten Tomatoes Score: 97

In [83]:
# for row in cur.execute('SELECT title FROM movies'):
#     print(row)

import sqlite3

# Connect to the SQLite database
movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

# Execute the query and print each movie title
for row in cur.execute('SELECT title FROM movies'):
    print(row)  # This will print each title as a tuple, e.g., ('Interstellar',)

# Close the cursor and the connection
cur.close()
movies_db.close()

('Interstellar',)
('Pride and Prejudice',)
('Barbie',)
('Good Will Hunting',)

In [85]:
# # MAKE SURE to close the db connection when we're done with it.
# ## Leaving open connections hanging around can cause our database to be locked 
# movies_db.close()

import sqlite3

# Open a connection to the database
movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

# Assume some operations here, e.g., reading data
rows = cur.execute('SELECT * FROM movies').fetchall()
for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# It's crucial to close the cursor before closing the database connection
cur.close()

# Close the database connection
movies_db.close()
print("Database connection closed.")

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1997, Rotten Tomatoes Score: 97
Database connection closed.