In [48]:
# Imports 
import sqlite3

In [59]:
# Working with and creating new database below for MOVIES
movies_db = sqlite3.connect('Movies.db')

print(movies_db)

<sqlite3.Connection object at 0x0000020B8795DA80>

In [6]:
# Creating cursor object, using cursor object to create new tables and add table data
import sqlite3

movies_db = sqlite3.connect('Movies.db')

cur = movies_db.cursor()

cur.execute("DROP TABLE IF EXISTS movies")

# # Script to populate table
cur.executescript("""
    BEGIN;
    CREATE TABLE movies (title TEXT, genre TEXT, release INTEGER, rt_score INTEGER);
    INSERT INTO movies VALUES ('Interstellar', 'Science Fiction', 2014, 73);
    INSERT INTO movies VALUES ('Pride and Prejudice', 'Novel', 2005, 87);
    INSERT INTO movies VALUES ('Inception', 'Science Fiction', 2010, 87);
    INSERT INTO movies VALUES ('Barbie', 'Comedy', 2023, 88);
    INSERT INTO movies VALUES ('Good Will Hunting', 'Drama', 1996, 97);
    COMMIT;
""")

cur.execute("SELECT * FROM movies")
rows = cur.fetchall()
for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release: {row[2]}, RT Score: {row[3]}")

cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release: 2014, RT Score: 73
Title: Pride and Prejudice, Genre: Novel, Release: 2005, RT Score: 87
Title: Inception, Genre: Science Fiction, Release: 2010, RT Score: 87
Title: Barbie, Genre: Comedy, Release: 2023, RT Score: 88
Title: Good Will Hunting, Genre: Drama, Release: 1996, RT Score: 97

In [7]:
# Read table data
import sqlite3

movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

rows = cur.execute("SELECT * FROM movies").fetchall()

for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# Close
cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Inception, Genre: Science Fiction, Release Year: 2010, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1996, Rotten Tomatoes Score: 97

In [4]:
# Update table data - There was a typo for the release year of Good Will Hunting, lets update this!
import sqlite3

# Connect to the SQLite database
movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

update_release_year = 1997
movie_to_update = 'Good Will Hunting'
cur.execute("UPDATE movies SET release = ? WHERE title = ?", (update_release_year, movie_to_update))
movies_db.commit()

cur.execute("SELECT * FROM movies WHERE title = ?", (movie_to_update,))
updated_row = cur.fetchone()
print(f"Updated Row: {updated_row}")

# Close
cur.close()
movies_db.close()

Updated Row: ('Good Will Hunting', 'Drama', 1997, 97)

In [72]:
# # Verify Update
import sqlite3

movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

rows = cur.execute("SELECT * FROM movies").fetchall()

for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# Close
cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Inception, Genre: Science Fiction, Release Year: 2010, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1997, Rotten Tomatoes Score: 97

In [74]:
import sqlite3

movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

movie_to_delete = 'Inception' # Too many sci fi movies!

cur.execute("DELETE FROM movies WHERE title = ?", (movie_to_delete,))

movies_db.commit()

cur.execute("SELECT * FROM movies")
rows = cur.fetchall()

for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# Close
cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1997, Rotten Tomatoes Score: 97

In [77]:
# Confirm movie deleted!

import sqlite3

movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

rows = cur.execute("SELECT * FROM movies").fetchall()

for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

# Close
cur.close()
movies_db.close()

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1997, Rotten Tomatoes Score: 97

In [3]:
import sqlite3

movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

for row in cur.execute('SELECT title FROM movies'):
    print(row) 

# Close
cur.close()
movies_db.close()

('Interstellar',)
('Pride and Prejudice',)
('Barbie',)
('Good Will Hunting',)

In [2]:
# MAKE SURE to close the db connection when we're done with it.
## Leaving open connections hanging around can cause our database to be locked 

import sqlite3

movies_db = sqlite3.connect('Movies.db')
cur = movies_db.cursor()

rows = cur.execute('SELECT * FROM movies').fetchall()
for row in rows:
    print(f"Title: {row[0]}, Genre: {row[1]}, Release Year: {row[2]}, Rotten Tomatoes Score: {row[3]}")

cur.close()

# Database Closed
movies_db.close()
print("Database Closed")

Title: Interstellar, Genre: Science Fiction, Release Year: 2014, Rotten Tomatoes Score: 73
Title: Pride and Prejudice, Genre: Novel, Release Year: 2005, Rotten Tomatoes Score: 87
Title: Barbie, Genre: Comedy, Release Year: 2023, Rotten Tomatoes Score: 88
Title: Good Will Hunting, Genre: Drama, Release Year: 1997, Rotten Tomatoes Score: 97
Database Closed