# Exercises: Working with Databases in Python

We have based these exercises around this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). 

Feel free to reference it as you complete the exercises below. To view it, you will need to create a FREE-tier Medium account. 

You DO NOT need a payed account to view this article.

## Import Libraries

We will need `pandas` and `sqlite3`. 

SQLite is a small, self-contained database engine that comes with Python, so you will not have to do any additional installations for this lesson. 

In the future, if you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a 'driver' which helps to connect a database to an application. But, we won't worry about that for now.

In [10]:
# Import sqlite3 and pandas.
import sqlite3
import pandas as pd

conn = sqlite3.connect('frazier.db')
c = conn.cursor()

c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT, [price] REAL)
          ''')

# Insert data into the table
c.execute('''
          INSERT INTO products (product_id, product_name, price)
          VALUES
          (1,'Product A', 110.99),
          (2,'Product B', 223.50),
          (3,'Product C', 530.00)
          ''')

conn.commit()

df = pd.read_sql_query("SELECT * FROM products", conn)

print("DataFrame:")
print(df)

df.loc[df['product_name'] == 'Product A', 'price'] = 192.99

df.to_sql('products', conn, if_exists='replace', index=False)

df_updated = pd.read_sql_query("SELECT * FROM products", conn)
print("Updated DataFrame:")
print(df_updated)

# Close
conn.close()

DataFrame:
    product_id product_name   price
0            1    Product A   12.99
1            2    Product B   23.50
2            3    Product C   50.00
3            1    Product A   12.99
4            2    Product B   23.50
5            3    Product C   50.00
6            1    Product A   12.99
7            2    Product B  223.50
8            3    Product C  530.00
9            1    Product A   12.99
10           2    Product B  223.50
11           3    Product C  530.00
12           1    Product A  110.99
13           2    Product B  223.50
14           3    Product C  530.00
Updated DataFrame:
    product_id product_name   price
0            1    Product A  192.99
1            2    Product B   23.50
2            3    Product C   50.00
3            1    Product A  192.99
4            2    Product B   23.50
5            3    Product C   50.00
6            1    Product A  192.99
7            2    Product B  223.50
8            3    Product C  530.00
9            1    Product A  192.99
10           2    Product B  223.50
11           3    Product C  530.00
12           1    Product A  192.99
13           2    Product B  223.50
14           3    Product C  530.00

## Create a Database

Let's say we want to create a database to store information related to books.

Use sqlite3's `connect` method to create a new database called `books.db`.

Make sure to store this connection in a variable named `con` (short for 'connection').

In [12]:
# Create the new database below
# con = sqlite3

import sqlite3

con = sqlite3.connect('books.db')

print("New db 'books.db' ")

New db 'books.db'

## Create a Table

We've created the overall `books.db`, but now we want to store some relevant information inside of it. Creating a table to track our favorite books would be a good idea!

Refer to the `python-db-walkthrough` file. There is a section where we created a table named `movies` using the sqlite3 method `executescript`.

Using this information as a reference, we want you to create a new table called `favorite_books`. 

The table should have these fields and datatypes:
1. id -> `INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT`
2. title -> a `TEXT` field
3. author -> a `TEXT` field
4. description -> a `TEXT` field 

Don't forget those `BEGIN` and `COMMIT` statements!

In [18]:
# Create a new table in your database.

import sqlite3

con = sqlite3.connect('books.db')
print("Connected to database 'books.db'.")

cur = con.cursor()

cur.executescript("""
BEGIN;
CREATE TABLE IF NOT EXISTS favorite_books (
    id INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT,
    title TEXT,
    author TEXT,
    description TEXT
);
COMMIT;
""")

print("Table 'favorite_books' ")

# Close the connection
con.close()
print("Database closed.")

Connected to database 'books.db'.
Table 'favorite_books'
Database closed.

## Insert Records

Now, add 3 entries to your new table for your top 3 favorite books.

We can use the sqlite3 `executemany` method to run a sql statement for each element within a list.


Update the `data` list below to include 3 `tuples` of data, like the commented example. 
Then run the code.

In [1]:
# Add your 3 favorite books to your table.


import sqlite3

con = sqlite3.connect('books.db')
print("Connected'books.db'.")

sql = 'INSERT INTO favorite_books (title, author, description) VALUES (?, ?, ?)'


data = [
    ('1984', 'George Orwell', 'A dystopian social science fiction novel and cautionary tale.'),
    ('The Great Gatsby', 'F. Scott Fitzgerald', 'A novel about the themes of resistance to change and social upheaval.'),
    ('To Kill a Mockingbird', 'Harper Lee', 'A novel of racial injustice and the destruction of innocence.')
]

with con:
    con.executemany(sql, data)
    con.commit() 

print("Insert Records")

cur = con.cursor()
cur.execute("SELECT * FROM favorite_books")
rows = cur.fetchall()

for row in rows:
    print(f"ID: {row[0]}, Title: {row[1]}, Author: {row[2]}, Description: {row[3]}")

# Close
con.close()
print("Database Closed.")

Connected'books.db'.
Insert Records
ID: 1, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 2, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 3, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 4, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 5, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 6, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 7, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 8, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 9, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 10, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 11, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 12, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 13, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 14, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 15, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 16, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 17, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 18, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 19, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 20, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 21, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 22, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 23, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 24, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 25, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 26, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 27, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 28, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 29, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 30, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 31, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 32, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 33, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 34, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 35, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 36, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 37, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 38, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 39, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 40, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 41, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 42, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 43, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 44, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 45, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 46, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 47, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 48, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 49, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 50, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 51, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
Database Closed.

## Query Your Table

Now, write a `SELECT` query using the sqlite3 `execute` method to return all the records from the `favorite_books` table.


Iterate over this result and print each row out to the console.

In [38]:
import sqlite3

con = sqlite3.connect('books.db')
print("Connected to database 'books.db'.")

with con:
    cur = con.cursor()
    cur.execute("SELECT * FROM favorite_books")
    rows = cur.fetchall()

    for row in rows:
        print(f"ID: {row[0]}, Title: {row[1]}, Author: {row[2]}, Description: {row[3]}")

# Close
con.close()
print("Database Closed.")

Connected to database 'books.db'.
ID: 1, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 2, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 3, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 4, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 5, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 6, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 7, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 8, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 9, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 10, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 11, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 12, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 13, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 14, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 15, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 16, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 17, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 18, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 19, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 20, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 21, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 22, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 23, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 24, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 25, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 26, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 27, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 28, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 29, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 30, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 31, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 32, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 33, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 34, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 35, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 36, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 37, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 38, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 39, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 40, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 41, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 42, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 43, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 44, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 45, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
ID: 46, Title: 1984, Author: George Orwell, Description: A dystopian social science fiction novel and cautionary tale.
ID: 47, Title: The Great Gatsby, Author: F. Scott Fitzgerald, Description: A novel about the themes of resistance to change and social upheaval.
ID: 48, Title: To Kill a Mockingbird, Author: Harper Lee, Description: A novel of racial injustice and the destruction of innocence.
Database Closed.

## Create a New Table with Pandas

Books are cool, but you don't have to read movies! 

Let's create a new table to store our favorite movies based on books.

This time we're going to use a `pandas` DataFrame to create the data.

Update the `title` list below to include your 3 favorite movies based on books.

Then, using pandas `to_sql` method (an example can be found in `pandas-db-walkthrough`), create a new table named `favorite_book_movies` using this Data Frame.

Finally, just like we did in the last secion, print all results of this new table to the console.

In [2]:
# # Use Pandas to make a new table in your database.
import sqlite3
import pandas as pd

df_movies = pd.DataFrame({
    'id': [1, 2, 3],
    'title': ['The Shawshank Redemption', 'The Godfather', 'Forrest Gump'],
    'based_on': ['Rita Hayworth and Shawshank Redemption by Stephen King',
                 'The Godfather by Mario Puzo',
                 'Forrest Gump by Winston Groom']
})

con = sqlite3.connect('books.db')

df_movies.to_sql('favorite_book_movies', con, if_exists='replace', index=False)

print("Table 'favorite_book_movies'")

read_back_df = pd.read_sql_query("SELECT * FROM favorite_book_movies", con)
print(read_back_df)

# Close
con.close()

Table 'favorite_book_movies'
   id                     title  \
0   1  The Shawshank Redemption
1   2             The Godfather
2   3              Forrest Gump

                                            based_on
0  Rita Hayworth and Shawshank Redemption by Step...
1                        The Godfather by Mario Puzo
2                      Forrest Gump by Winston Groom

## What's up with `with con`?

You may have noticed in the `python-db-walkthrough` file that we had to include a section at the end to `close()` our sqlite3 connection. 

If we didn't include this code, we would end up with a hanging open connection, which could lead to database locking and/or record corruption. Both of these are very bad things!

But, it would be hard to remember to always directly close the connection when we need to.

That's why we have the `with` keyword! You can read about this Python language feature [here](https://www.geeksforgeeks.org/with-statement-in-python/).

In this context, `with con` will open up a connection to the database and then close it once the Python code inside the indented block finishes. 

This way, we don't have to manually close our db connections in our code and we have a nice visual block of code to help manage each operation performed against the database.