# Cleaning Data with Pandas Exercises

For the exercises, you will be cleaning data in the Women's Clothing E-Commerce Reviews dataset.

To start cleaning data, we first need to create a dataframe from the CSV and print out any relevant info to make sure our dataframe is ready to go.

In [81]:
# Import pandas and any other libraries you need here.

# Create a new dataframe from your CSV

import pandas as pd

womens_clothing_ecommerce = pd.read_csv(r"/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/cleaning-data-with-pandas/exercises/Womens-Clothing-Ecommerce.csv")

womens_clothing_ecommerce

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,1,0,General Petite,Dresses,Dresses
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,1,0,General Petite,Tops,Knits
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,0,1,General Petite,Dresses,Dresses
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,1,2,General,Dresses,Dresses
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,1,22,General Petite,Dresses,Dresses

In [2]:
# Print out any information you need to understand your dataframe
import pandas as pd

womens_clothing_ecommerce = pd.read_csv(r"/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/cleaning-data-with-pandas/exercises/Womens-Clothing-Ecommerce.csv")
# data = pd.read_csv(womens_clothing_ecommerce)

print("Few Rows df:")
print(womens_clothing_ecommerce.head())

print("df: Row, columns:")
print(womens_clothing_ecommerce.shape)

print("df info:")
print(womens_clothing_ecommerce.info())

print("Null Values:")
print(womens_clothing_ecommerce.isnull().sum())

print("Unique Values:")
print(womens_clothing_ecommerce.nunique())

print('Data Type:')
print(womens_clothing_ecommerce.dtypes)

Few Rows df:
   Unnamed: 0  Clothing ID  Age                    Title  \
0           0          767   33                      NaN
1           1         1080   34                      NaN
2           2         1077   60  Some major design flaws
3           3         1049   50         My favorite buy!
4           4          847   47         Flattering shirt

                                         Review Text  Rating  Recommended IND  \
0  Absolutely wonderful - silky and sexy and comf...       4                1
1  Love this dress!  it's sooo pretty.  i happene...       5                1
2  I had such high hopes for this dress and reall...       3                0
3  I love, love, love this jumpsuit. it's fun, fl...       5                1
4  This shirt is very flattering to all due to th...       5                1

   Positive Feedback Count   Division Name Department Name Class Name
0                        0       Initmates        Intimate  Intimates
1                        4         General         Dresses    Dresses
2                        0         General         Dresses    Dresses
3                        0  General Petite         Bottoms      Pants
4                        6         General            Tops    Blouses
df: Row, columns:
(23486, 11)
df info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB
None
Null Values:
Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64
Unique Values:
Unnamed: 0                 23486
Clothing ID                 1206
Age                           77
Title                      13993
Review Text                22634
Rating                         5
Recommended IND                2
Positive Feedback Count       82
Division Name                  3
Department Name                6
Class Name                    20
dtype: int64
Data Type:
Unnamed: 0                  int64
Clothing ID                 int64
Age                         int64
Title                      object
Review Text                object
Rating                      int64
Recommended IND             int64
Positive Feedback Count     int64
Division Name              object
Department Name            object
Class Name                 object
dtype: object

## Missing Data

Try out different methods to locate and resolve missing data.

In [5]:
# Try to find some missing data!
# Print out any information you need to understand your dataframe
import pandas as pd

womens_clothing_ecommerce = pd.read_csv(r"/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/cleaning-data-with-pandas/exercises/Womens-Clothing-Ecommerce.csv")

missing_data = womens_clothing_ecommerce.isnull().sum()

print("Missing Values in Columns:")
print(missing_data[missing_data > 0])

print("Missing Values in Rows:")
print(womens_clothing_ecommerce[womens_clothing_ecommerce.isnull().any(axis=1)].head())

Missing Values in Columns:
Title              3810
Review Text         845
Division Name        14
Department Name      14
Class Name           14
dtype: int64
Missing Values in Rows:
    Unnamed: 0  Clothing ID  Age Title  \
0            0          767   33   NaN
1            1         1080   34   NaN
11          11         1095   39   NaN
30          30         1060   33   NaN
36          36         1002   29   NaN

                                          Review Text  Rating  \
0   Absolutely wonderful - silky and sexy and comf...       4
1   Love this dress!  it's sooo pretty.  i happene...       5
11  This dress is perfection! so pretty and flatte...       5
30  Beautifully made pants and on trend with the f...       5
36  This is a comfortable skirt that can span seas...       4

    Recommended IND  Positive Feedback Count   Division Name Department Name  \
0                 1                        0       Initmates        Intimate
1                 1                        4         General         Dresses
11                1                        2  General Petite         Dresses
30                1                        0  General Petite         Bottoms
36                1                        5         General         Bottoms

   Class Name
0   Intimates
1     Dresses
11    Dresses
30      Pants
36     Skirts

Did you find any missing data? What things worked well for you and what did not?

In [ ]:
# Respond to the above questions here:
# Missing Values in Columns:
# Title              3810
# Review Text         845
# Division Name        14
# Department Name      14
# Class Name           14

# What worked well: I was able to ID the missing data using the code that was wrote for the previous question. 
# I also was alble to see and view the rows and notice the missing data, that will help me with my decision when working with this data.

#  What did not work: Trying to figure out how to use the missing data, deciding if I want to fill in the missing data and messed up my code 
# by not figuring out the correct code on what I was trying to accomplish.

## Irregular Data

With missing data out of the way, turn your attention to any outliers. Just as we did for missing data, we first need to detect the outliers.

In [20]:
# Keep an eye out for outliers!

import pandas as pd

womens_clothing_ecommerce = pd.read_csv(r"/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/cleaning-data-with-pandas/exercises/Womens-Clothing-Ecommerce.csv")

irregular_data = womens_clothing_ecommerce['Positive Feedback Count']

Q1 = irregular_data.quantile(0.25)
Q3 = irregular_data.quantile(0.75)
IQR = Q3 - Q1
lower_quantile = Q1 - 1.5 * IQR
upper_quantile = Q3 + 1.5 * IQR

outliers = womens_clothing_ecommerce[(irregular_data < lower_quantile) | (irregular_data > upper_quantile)]

print("Outliers Identified:")
print(outliers[['Positive Feedback Count']])

Outliers Identified:
       Positive Feedback Count
10                          14
21                          14
44                           9
53                          34
66                           9
...                        ...
23427                       65
23433                        9
23441                       25
23467                       23
23485                       22

[2147 rows x 1 columns]

What techniques helped you find outliers? In your opinion, what about the techniques you used made them effective?

In [21]:
# Make your notes here:
# I used the IQR method and computed it. The use of them helped me with data that has been skewed.

## Unnecessary Data

Unnecessary data could be irrelevant to your analysis or a duplice column. Check out the dataset to see if there is any unnecessary data.

In [58]:
# Look out for unnecessary data!

import pandas as pd

womens_clothing_ecommerce = pd.read_csv(r"/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/cleaning-data-with-pandas/exercises/Womens-Clothing-Ecommerce.csv")

print("First Data:")
print(womens_clothing_ecommerce.head())
print(womens_clothing_ecommerce.info())

row_count = womens_clothing_ecommerce.shape[0]
womens_clothing_ecommerce = womens_clothing_ecommerce.drop_duplicates()
print(f"Removed {row_count - womens_clothing_ecommerce.shape[0]} duplicates")

print("Clean Data")
print(womens_clothing_ecommerce.head())
print(womens_clothing_ecommerce.info())

womens_clothing_ecommerce.to_csv('Clean_Data', index=False)
print("Clean Dataset, 'Clean_Data'.")

First Data:
   Unnamed: 0  Clothing ID  Age                    Title  \
0           0          767   33                      NaN
1           1         1080   34                      NaN
2           2         1077   60  Some major design flaws
3           3         1049   50         My favorite buy!
4           4          847   47         Flattering shirt

                                         Review Text  Rating  Recommended IND  \
0  Absolutely wonderful - silky and sexy and comf...       4                1
1  Love this dress!  it's sooo pretty.  i happene...       5                1
2  I had such high hopes for this dress and reall...       3                0
3  I love, love, love this jumpsuit. it's fun, fl...       5                1
4  This shirt is very flattering to all due to th...       5                1

   Positive Feedback Count   Division Name Department Name Class Name
0                        0       Initmates        Intimate  Intimates
1                        4         General         Dresses    Dresses
2                        0         General         Dresses    Dresses
3                        0  General Petite         Bottoms      Pants
4                        6         General            Tops    Blouses
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB
None
Removed 0 duplicates
Clean Data
   Unnamed: 0  Clothing ID  Age                    Title  \
0           0          767   33                      NaN
1           1         1080   34                      NaN
2           2         1077   60  Some major design flaws
3           3         1049   50         My favorite buy!
4           4          847   47         Flattering shirt

                                         Review Text  Rating  Recommended IND  \
0  Absolutely wonderful - silky and sexy and comf...       4                1
1  Love this dress!  it's sooo pretty.  i happene...       5                1
2  I had such high hopes for this dress and reall...       3                0
3  I love, love, love this jumpsuit. it's fun, fl...       5                1
4  This shirt is very flattering to all due to th...       5                1

   Positive Feedback Count   Division Name Department Name Class Name
0                        0       Initmates        Intimate  Intimates
1                        4         General         Dresses    Dresses
2                        0         General         Dresses    Dresses
3                        0  General Petite         Bottoms      Pants
4                        6         General            Tops    Blouses
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               23486 non-null  int64
 1   Clothing ID              23486 non-null  int64
 2   Age                      23486 non-null  int64
 3   Title                    19676 non-null  object
 4   Review Text              22641 non-null  object
 5   Rating                   23486 non-null  int64
 6   Recommended IND          23486 non-null  int64
 7   Positive Feedback Count  23486 non-null  int64
 8   Division Name            23472 non-null  object
 9   Department Name          23472 non-null  object
 10  Class Name               23472 non-null  object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB
None
Clean Dataset, 'Clean_Data'.

Did you find any unnecessary data in your dataset? How did you handle it?

In [ ]:
# Make your notes here.

# Under the Title column there are NaN values 
# I didn't see any duplicates data

## Inconsistent Data

Inconsistent data is likely due to inconsistent formatting and can be addressed by re-formatting all values in a column or row.

In [80]:
# Look out for inconsistent data!

import pandas as pd

womens_clothing_ecommerce = pd.read_csv(r"/Users/charl/Desktop/LaunchCode-Data-Analysis/Data-Analysis-Projects/cleaning-data-with-pandas/exercises/Womens-Clothing-Ecommerce.csv")

womens_clothing_ecommerce['Category'] = womens_clothing_ecommerce['Category'].str.lower().str.strip()

corrections = {'dreses': 'dresses', 'intimate': 'intimates', 'accesories': 'accessories'}
womens_clothing_ecommerce['Category'] = womens_clothing_ecommerce['Category'].replace(corrections)

womens_clothing_ecommerce['Price'] = pd.to_datetime(['Date'], errors = 'coerce')
womens_clothing_ecommerce['Price'] = pd.to_numeric(womens_clothing_ecommerce['Price'].str.replace('$', ''), errors='coerce')

womens_clothing_ecommerce.to_csv('Cleaned Data', index=False)

print("Dataset Cleaned")

KeyError: 'Star_Seller'

Did you find any inconsistent data? What did you do to clean it?

In [ ]:
# Make your notes here!